<!-- Page Top
================================================== -->
@@include('./../../template_head.tpl', {"pageID": "dialogs", "pageCategory": "components"})
<!-- BEGIN: Template Content
================================================== -->

<!-- Content Title
================================================== -->
<h1>@@titleDialog</h1>
<p>@@titleDialog are containers for small amounts of secondary content and controls that are displayed on user request, while keeping the rest of the page fully visible.</p>

<!-- Page Nav
================================================== -->
<div class="sg-page-nav">
  <p>
    <a href="http://getbootstrap.com/javascript/#modals" target="_blank" class="btn btn-default">View Bootstrap Guidelines</a>
  </p>
</div>

<!-- Page Content
================================================== -->

<h2>Modal Dialogs</h2>

<p>We are using <code>data-id="trigger-dialog"</code> as the trigger to open a dialog. Modifying the dialog is done in JavaScript and the dialog content can be a separate include page.</p>
<h3>Example Modal Dialog</h3>
<button class="btn btn-primary" type="button" data-id="trigger-dialog">Launch a Modal Dialog</button>


  <div class="modal fade in paradata-modal proto-example-dialog" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->






<!-- END: Template Content
================================================== -->

<!-- Page Bottom
================================================== -->
@@include('./../../template_foot.tpl')
