/* BEGIN: buttons.scss
// -----------------------------------------------------*/


// BUTTON VARIABLES

// btn-default
$btnDefault: $cool-silver;
$btnDefaultBorder: darken($btnDefault, 5%);
	//hover
$btnDefaultHvr: darken($btnDefault, 10%);
$btnDefaultBorderHvr: darken($btnDefault, 20%);

// btn-primary
$btnPrimary: $main-blue;
$btnPrimaryBorder: darken($btnPrimary, 5%);
	//hover
$btnPrimaryHvr: darken($btnPrimary, 10%);
$btnPrimaryBorderHvr: darken($btnPrimary, 20%);

// btn-success
$btnSuccess: $green;
$btnSuccessBorder: darken($btnSuccess, 5%);
	//hover
$btnSuccessHvr: darken($btnSuccess, 10%);
$btnSuccessBorderHvr: darken($btnSuccess, 20%);

// btn-info
$btnInfo: $cool-blue;
$btnInfoBorder: darken($btnInfo, 5%);
	//hover
$btnInfoHvr: darken($btnInfo, 10%);
$btnInfoBorderHvr: darken($btnInfo, 20%);

// btn-warning
$btnWarning: $orange;
$btnWarningBorder: darken($btnWarning, 5%);
	//hover
$btnWarningHvr: darken($btnWarning, 10%);
$btnWarningBorderHvr: darken($btnWarning, 20%);

// btn-danger
$btnDanger: $red;
$btnDangerBorder: darken($btnDanger, 5%);
	//hover
$btnDangerHvr: darken($btnDanger, 10%);
$btnDangerBorderHvr: darken($btnDanger, 20%);


// BUTTONS
// -----------------------------------------------------

.btn {
	// Begin: Yeti Overrides (old app styles)
	color: $white;
	// End: Yeti Overrides

	@include border-radius(5px);
	// @include no-box-shadow();
	// @include transition(.5s);
	.fa {
		margin-right: 5px;
		min-width: 12px;
	}
	&.btn-link, &.btn-icon {
		/* Undo Margin for icon only buttons */
		.fa {
			margin-right: 0;
		}
	}
	&.btn-link {
		color: $blue;
		text-decoration: underline;
		.fa {
			margin-right: 5px;
			min-width: 12px;
		}
		&:focus, &:hover {
			color: $navyBlue;
			background: $cool-silver;
		}
	}
	// BUTTON COLORS:
	// Default Buttons
	&.btn-default {
		// Begin: Yeti Overrides (old app styles)
		color: $charcoal;
		// End: Yeti Overrides

		background-color: $btnDefault;
		border-color: $btnDefaultBorder;
		&:hover,
		&:active, &:active{
			background-color: $btnDefaultHvr;
			border-color: $btnDefaultBorderHvr;
		}
	}
	// Primary Buttons
	&.btn-primary {
		// Begin: Yeti Overrides (old app styles)
		color: $white;
		// End: Yeti Overrides
		font-family: $btnFontFamily;
		background-color: $btnPrimary;
		border-color: $btnPrimaryBorder;
		&:hover,
		&:active, &.active {
			background-color: $btnPrimaryHvr;
			border-color: $btnPrimaryBorderHvr;
		} 
		// Disabled
		&.disabled, &.btn[disabled], &[disabled] {
			color: $grayLightest;
		}
	}
	// Success Buttons
	&.btn-success {
		background-color: $btnSuccess;
		border-color: $btnSuccessBorder;
		&:hover,
		&:active, &.active {
			background-color: $btnSuccessHvr;
			border-color: $btnSuccessBorderHvr;
		}
	}
	// Info Buttons
	&.btn-info {
		background-color: $btnInfo;
		border-color: $btnInfoBorder;
		&:hover,
		&:active, &.active {
			background-color: $btnInfoHvr;
			border-color: $btnInfoBorderHvr;
		}
		// Disabled
		&.disabled, &.btn[disabled], &[disabled] {
			color: $grayLightest;
		}
	}
	// Warning Buttons
	&.btn-warning {
		background-color: $btnWarning;
		border-color: $btnWarningBorder;
		&:hover,
		&:active, &.active {
			background-color: $btnWarningHvr;
			border-color: $btnWarningBorderHvr;
		}
	}
	// Danger Buttons
	&.btn-danger {
		background-color: $btnDanger;
		border-color: $btnDangerBorder;
		&:hover,
		&:active, &.active {
			background-color: $btnDangerHvr;
			border-color: $btnDangerBorderHvr;
		}
	}
	&.btn-icon {
		.fa {
			margin-right: 0;
		}
	}
	// Buttons with an Icon on the right side
	&.btn-icon-right {
		.fa {
			margin-right: 0;
			margin-left: 5px;
		}
	}
}




/* END: Buttons.scss
// ----------------------------------------------------*/
