/* BEGIN: forms.scss
// -----------------------------------------------------*/

$input-height-base: 34px;

// Global Form Styles
form {
	fieldset {
		border: 1px solid transparent;
		margin-bottom: 0;
		padding-bottom: 30px;
		padding-top: 30px;
		position: relative;
	}
	legend {
		font-size: 16px;
		border-bottom: none;
		left: 0;
		position: absolute;
		top: 0;
		+ .form-group {
			margin-top: 10px;
		}
	}
	label {
		font-weight: normal;
		color: $grayDark;
	}
	.form-divider {
		border-top-color: $borderColor;
		margin: $pageMargin 0;
	}
	&.inline-status {
		label {
			display: block;
		}
		.form-control {
			display: inline-block;
			width: 90%;
		}
		.field-indicator {
			padding: 6px 4px;
		}
	}
}
/* Inline Form inside modal dialog */
.modal-body {
	form {
		fieldset {
			legend {
				color: $blue;
				font-weight: 500;
			}
		}
		dl {
			dt {
				font-size: 16px;
				font-weight: 500;
			}
			dt, dd {
				margin-bottom: 10px;
				overflow: hidden;
			}
		}
	}
}

