/* BEGIN: layout.scss
// -----------------------------------------------------*/

.colonnade {
  overflow: hidden;
  width: 100%; 
 }
  .colonnade > .lt-column,  .colonnade > .mid-column {
    float: left;
  }
  .colonnade.dual > .lt-column, .colonnade.dual > .rt-column {
    width: 50%; 
  }
  .colonnade.triple > .lt-column, .colonnade.triple > .mid-column, .colonnade.triple > .rt-column {
    width: 33.3%;
  }
  .colonnade > .rt-column{
    float: right;
  }